<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/bt523/css/bootstrap.css'%}">
    <script src="{% static 'stylesheets/bt523/js/bootstrap.js'%}"></script>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 bg-dark">
                {% include 'hedder.html'%}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 bg-secondary">
                {% include 'memu.html' %}
            </div>
        <div class="col-lg-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 bg-dark">
                {% include 'bottom.html' %}
            </div>
        </div>
    </div>
</body>
</html>