{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-dark text-white rounded">
        <center><h1>สินค้า</h1></center>
     <p>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Cosmic รุ่น EW01161A 2,699 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ซัพพอร์ตข้อเท้าดีเยี่ยม ตอบสนองต่อทิศทางได้อย่างฉับไว</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล Nike Air Jordan XXXV Low PF
5,800 บาท 〜</h5></font>
                <font color="black"><p class="card-text">เพิ่มความคล่องตัว เบาสบายเป็นพิเศษด้วยเทคโนโลยี Zoom Air</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล UNDER ARMOUR รุ่น UA Embiid 1 CNY
4,490 บาท 〜</h5></font>
                <font color="black"><p class="card-text">เบาสบาย อุ่นใจด้วยเทคโนโลยีรองรับแรงกระแทกอย่าง HOVR</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s4.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล Nike รุ่น LeBron Witness 6 EP
2,880 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ดีไซน์สวย เพิ่มสมดุล จัดเต็มด้วยทุกสุดยอดเทคโนโลยีของ Nike</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s5.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Lightning Lou Williams Crazy6 รุ่น EW9366A
1,625 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ปกป้องเท้าจากการบาดเจ็บ สัมผัสพื้นอย่างนุ่มนวลด้วย Anti-Slip</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s6.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล Nike รุ่น Jordan One Take II PF
3,600 บาท 〜</h5></font>
                <font color="black"><p class="card-text">นุ่มเด้งเหนือกว่าใคร ด้วย Zoom Air เทคโนโลยีเฉพาะประจำแบรนด์</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s7.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล Adidas รุ่น Harden Stepback Avatar 2
1,920 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ตอบสนองยืดหยุ่น ยึดเกาะยอดเยี่ยม คุณภาพดีในราคาย่อมเยา</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/8.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล Adidas รุ่น D.O.N. Issue 2 GCA
2,000 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ยืดหยุ่น รองรับแรงกระแทกได้มาก เล่น Indoor ก็ได้ Outdoor ก็ดี</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Cosmic รุ่น EW01161A 2,699 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ซัพพอร์ตข้อเท้าดีเยี่ยม ตอบสนองต่อทิศทางได้อย่างฉับไว</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <p>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Cosmic รุ่น EW01161A 2,699 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ซัพพอร์ตข้อเท้าดีเยี่ยม ตอบสนองต่อทิศทางได้อย่างฉับไว</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Cosmic รุ่น EW01161A 2,699 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ซัพพอร์ตข้อเท้าดีเยี่ยม ตอบสนองต่อทิศทางได้อย่างฉับไว</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="{% static 'images/s1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <font color="black">
                <h5 class="card-title">รองเท้าบาสเกตบอล PEAK Cosmic รุ่น EW01161A 2,699 บาท 〜</h5></font>
                <font color="black"><p class="card-text">ซัพพอร์ตข้อเท้าดีเยี่ยม ตอบสนองต่อทิศทางได้อย่างฉับไว</p></font>
                <a href="https://my-best.in.th/49133" class="btn btn-primary">ดูสินค้า</a>
                    </div>
                </div>
                </div>











        </div>
    </div><br>
{% endblock %}