{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="mt-4 p-5 bg-dark text-white rounded">
        <center><h1>สิ่งที่สนใจ</h1></center>
     <p>
        <div class="row">
     <div class="col-lg-4">
                <img src="{% static 'images/bass1.jpg' %}"
                     width="100%" height="100%">
            </div>
      <div class="col-lg-4">
                <img src="{% static 'images/bass2.jpg' %}"
                     width="100%" height="100%">
            </div>
      <div class="col-lg-4">
                <img src="{% static 'images/bass3.jpg' %}"
                     width="100%" height="100%">
            </div>
     <p>
            <div class="col-lg-12">
                <h2 align= 'center'>บาสเกตบอล (Bassketball)</h2>
                <h3 align= 'center'>บาสเกตบอล (อังกฤษ: Basketball) เป็นกีฬาชนิดหนึ่งซึ่งแบ่งผู้เล่นเป็น 2 ทีม แต่ละทีมประกอบด้วยผู้เล่น 5 คนพยายามทำคะแนนโดยการโยนลูกเข้าห่วงหรือตะกร้า ภายใต้กติกาการเล่นมาตรฐาน

ตั้งแต่ที่คิดค้นขึ้นในปี พ.ศ. 2434 (ค.ศ. 1891) โดยเจมส์ ไนสมิท[1] บาสเกตบอลได้ถูกพัฒนาขึ้นเป็นกีฬาสากลโลก กีฬานี้มีจุดเริ่มต้นจากในวายเอ็มซีเอ[1][2] ลีกที่เกิดขึ้นในสมัยแรก ๆ เป็นระดับมหาวิทยาลัย ต่อมากลายเป็นกีฬาอาชีพ[ต้องการอ้างอิง] มีการจัดตั้งลีกเอ็นบีเอ (National Basketball Association, NBA) และเริ่มมีการแข่งขันในกีฬาโอลิมปิกเมื่อ พ.ศ. 2479 (ค.ศ. 1936)[1] ถึงแม้ว่าในระยะแรกยังเป็นกีฬาที่เล่นเฉพาะในสหรัฐอเมริกา กีฬาชนิดนี้แพร่ขยายไปสู่ระดับสากลด้วยความรวดเร็ว ปัจจุบันมีนักกีฬาและทีมที่มีชื่อเสียงตามที่ต่าง ๆ ทั่วโลก</h3>

            </div>
        </div>
    </div><br>
{% endblock %}