{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-dark text-white rounded">
<h3 class="text-white text-center sdblack">Product</h3>
        <div class="row">

            <div class="col-lg-12">
                <table class="table  text-white table-hover border" style="width:100%">
  <tr>
    <th style="width:15%; font-size: 15pt">รหัสสินค้า</th>
    <th style="width:15%; font-size: 15pt">ชื่อสินค้า</th>
    <th style="width:10%; font-size: 15pt">ยี่ห้อ</th>
      <th style="width:10%; font-size: 15pt">ราคา</th>
      <th style="width:10%; font-size: 15pt">จำนวน</th>
       <th style="width:10%; font-size: 15pt">ผลิต</th>
      <th style="width:10%; font-size: 15pt">รวม</th>
      <th style="width:10%; font-size: 15pt">ส่วนลด</th>
      <th style="width:10%; font-size: 15pt">ยอดสุทธิ</th>
  </tr>
    {% for pro in product %}
         <tr>
             <td>{{ pro.id }}</td>
             <td>{{ pro.name }}</td>
            <td>{{ pro.brand }}</td>
         <td>{{ pro.price }}</td>
         <td>{{ pro.amount }}</td>
        <td>{{ pro.detail }}</td>
         <td>{{ pro.total }}</td>
         <td>{{ pro.discount }}</td>
         <td>{{ pro.net }}</td>
         </tr>
    {% endfor %}
</table>
            </div>


        </div>
     </div>
    <br>

{% endblock %}