{% load static %}
<br>
<ul class="list-group ">
    <li class="list-group-item list-group-item-dark">Menu</li>
    <li class="list-group-item"><a href="/home">หน้าหลัก</a></li>
    <li class="list-group-item"><a href="/personalRecord">ประวัติส่วนตัว</a></li>
    <li class="list-group-item"><a href="/educationalRecord">ประวัติการศึกษา</a></li>
    <li class="list-group-item"><a href="/interests">สิ่งที่สนใจ</a></li>
    <li class="list-group-item"><a href="/dreamJob">สินค้า</a></li>
    <li class="list-group-item"><a href="/roleModel">บุคคลต้นแบบ</a></li>
    <li class="list-group-item"><a href="/showMydata">showMydata</a></li>
</ul>